* {
    scroll-behavior: smooth;
}

body{
    background-color: rgb(5, 0, 34);
    color: #ffffff;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

hr{
    width: 75%;
    border: 1px solid rgba(45, 69, 218)!important;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 0px 0px 5px rgb(45 69 218);
}
/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    box-shadow: inset 0 0 5px rgb(45 69 218); 
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    box-shadow: inset 0 0 5px rgb(45 69 218); 
    transition: 0.3s ease-in-out;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.2);
  }
.text-center{
    text-align: center;
}
.flex-row{
    flex-direction: row;
}
.flex-col{
    flex-direction: column;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/******************/
nav{
    background-color: #050022;
    color: rgb(45, 69, 218);
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 25px;
    padding: 25px;
    border-bottom: 3px solid rgb(45, 69, 218);
    width: 115%;
    margin-left: -8%;
    margin-top: -10px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 7px rgb(45 69 218), inset 0px 0px 7px rgb(45 69 218);
    text-shadow: 0px 0px 7px rgb(45 69 218);
}
h1{
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 3px;
}
.dot{
    color: white;
}
span{
    font-weight: 500;
    color: #2d45da;
    text-shadow: 0px 0px 4px rgb(45 69 218);
}
.banner{
    margin-top: 75px;
    padding: 25px 0px;
}
header{
    overflow: hidden;
}
/******************/


/***********LANGUAGE SPIN**************/
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

img.language {
    width: 125px;
    margin: 50px;
    -webkit-animation: spin 6s reverse linear infinite;
    animation: spin 6s reverse linear infinite;
    background: linear-gradient(110deg, rgba(180,180,180, 0.5), rgba(150,150,150,0.25));
    border: 1px solid rgba(224, 224, 224, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 100%;
    -webkit-box-shadow: 0px -1px 10px 0px #ffffff54; 
    box-shadow: 0px -1px 10px 0px #ffffff54;
    overflow: hidden;
}

article.language-container{
    height: 500px;
    width: 500px;
    -webkit-animation: spin 6s linear infinite;
    animation: spin 6s linear infinite;
    /* overflow: hidden; */
}
/***********LANGUAGE SPIN**************/

/******************/
p{
    font-size: 20px;
    font-weight: 100;
    width: 50%;
    line-height: 1.75;
}
h2{
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 3px;
    text-shadow: 0px 0px 4px #FFF;
}

h3{
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 3px;
    text-shadow: 0px 0px 2px rgb(255, 255, 255);
}
.blue-link{
    text-shadow: 0px 0px 2px #2d45da;
    color: #2d45da;
    text-decoration: underline;
}

.thumbnails{
    width: 200px;
    border-radius: 100%;
    border: 1px solid rgba(224, 224, 224, 0.1);
    -webkit-box-shadow: 0px -1px 10px 0px #ffffff54; 
    box-shadow: 0px -1px 10px 0px #ffffff54;
    transition: 0.6s ease-in-out;
}

.card{
    background: linear-gradient(110deg, rgba(180,180,180, 0.5), rgba(150,150,150,0.25));
    border: 1px solid rgba(224, 224, 224, 0.1);
    backdrop-filter: blur(10px);
    width: 300px;
    height: 300px;
    border-radius: 100%;
    -webkit-box-shadow: 0px -1px 10px 0px #ffffff54; 
    box-shadow: 0px -1px 10px 0px #ffffff54;
    transform: scale(.9);
    transition: 0.6s ease-in-out;
}
.card-container{
    opacity: 0.5;
    transition: 0.6s ease-in-out;
}
.card-container:hover{
    opacity: 1;
}
.projects{
    margin: 75px;
}
.card:hover .thumbnails{
    cursor: pointer;
    transform: scale(1.1);
}

/******************/

/************************************/
.skill{
    background: linear-gradient(110deg, rgba(180,180,180, 0.5), rgba(150,150,150,0.25));
    border: 1px solid rgba(224, 224, 224, 0.1);
    backdrop-filter: blur(10px);
    width: 250px;
    height: 250px;
    padding: 25px;
    border-radius: 100%;
    -webkit-box-shadow: 0px -1px 10px 0px #ffffff54; 
    box-shadow: 0px -1px 10px 0px #ffffff54;
    margin: 0px 50px;
    transition: 0.6s ease-in-out;
    overflow: hidden;
    opacity: .5;
}
.text-container{
    height: 100%;
    width: 100%;
}
.skill:hover{
    opacity: 1;
}
.text-skill{
    width: 90%;
    line-height: 1.4;
    margin-top: 0;
    font-size: 14px;
    transform: translateY(420%);
    transition: 0.6s ease-in-out;
    text-transform: uppercase;
    text-shadow: 0px 0px 2px rgb(0, 0, 0);
}

.h-skill{
    margin: 0;
    margin-top: 20px;
    transform: translateY(220%);
    transition: 0.5s ease;
}
.h-responsive{
    transform: translateY(270%);
}
.skill:hover .text-skill , .skill:hover .h-skill{
    transform: translateY(0px);
}

.skills{
    margin: 50px;
}


/******************/

footer{
    margin-top: 100px;
    color: #2d45da;
    padding: 25px;
}
.footer-hr{
    margin-top: 10%;
}

.reseau{
    text-shadow: 0px 0px 3px #2d45da;
}
article.socials{
    padding: 35px;
}
.social{
    filter: invert(26%) sepia(94%) saturate(3335%) hue-rotate(229deg) brightness(84%) contrast(104%);
    height: 40px;
    width: 40px;
    margin: 0px 25px;
    transition: 0.4s ease-in-out;
}
.social:hover{
    opacity: 0.5;
}
/******************/


a{
    text-decoration: none;
    font-style: none;
    color: #FFF;
}

.top-btn{
    position: fixed;
    bottom: 2%;
    right: 2%;
    width: 30px;
    height: 30px;
    padding: 15px;
    background: linear-gradient(110deg, rgba(180,180,180, 0.5), rgba(150,150,150,0.25));
    border: 1px solid rgba(224, 224, 224, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 100%;
    -webkit-box-shadow: 0px -1px 10px 0px #ffffff54; 
    box-shadow: 0px -1px 10px 0px #ffffff54;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .5;
    transition: 0.5s ease-in-out;
}
.home-btn{
    position: fixed;
    bottom: 10%;
    right: 2%;
    width: 30px;
    height: 30px;
    padding: 15px;
    background: linear-gradient(110deg, rgba(180,180,180, 0.5), rgba(150,150,150,0.25));
    border: 1px solid rgba(224, 224, 224, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 100%;
    -webkit-box-shadow: 0px -1px 10px 0px #ffffff54; 
    box-shadow: 0px -1px 10px 0px #ffffff54;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .5;
    transition: 0.5s ease-in-out; 
}
.top-btn:hover, .home-btn:hover{
    opacity: 1;
}
.top-img, .home-img, .gem-svg{
    filter: invert(100%) sepia(0%) saturate(7479%) hue-rotate(70deg) brightness(99%) contrast(107%);
    width: 30px;
}


/*******/
@media screen and (max-width: 1440px) {
    img.language {
        width: 115px;
    }
    .home-btn{
        bottom: 12.5%!important;
    }
    article.language-container{
        height: 450px;
        width: 450px;
    }
    .h-responsive{
        transform: translateY(240%);
    }
    .text-responsive{
        font-size: 13px;
    }
}
/*******/
@media screen and (max-width: 1024px) {
    .h-skill{
        transform: translateY(200%);
    }
    .h-responsive{
        transform: translateY(240%);
    }
    
    img.language {
        width: 100px;
        margin: 25px;
    }
    .skill{
        width: 175px;
        height: 175px;
    }
    .text-skill{
        font-size: 11px;
    }
    .text-responsive{
        font-size: 10px;
    }
    article.language-container{
        height: 300px;
        width: 300px;
    }
    h1{
        font-size: 30px;
        letter-spacing: 2px;
    }
    h2{
        font-size: 25px;
    }
    h3{
        font-size: 20px;
    }
    p{
        font-size: 15px;
    }

    .thumbnails{
        width: 125px;
    }

    .card{
        height: 200px;
        width: 200px;
    }
}
/*******/
@media screen and (max-width: 768px) {
    .home-btn{
        bottom: 12%!important;
    }
    .h-responsive{
        transform: translateY(250%);
    }
    img.language {
        width: 90px;
        margin: 20px;
    }
    .skill{
        width: 150px;
        height: 150px;
        margin: 0px 25px;
    }
    .text-skill{
        font-size: 10px;
        text-shadow: 0px 0px 1px rgb(255, 255, 255);
    }
    .text-responsive{
        font-size: 9px;
    }
    .skills{
        margin: 25px;
    }
    article.language-container{
        height: 250px;
        width: 250px;
    }
    nav{
        font-size: 40px;
        text-shadow: 0px 0px 4px rgb(45 69 218);
    }
    h1{
        font-size: 25px;
        letter-spacing: 2px;
    }
    h2{
        font-size: 22px;
    }
    h3{
        font-size: 17px;
    }
    p{
        font-size: 14px;
    }

    .thumbnails{
        width: 100px;
    }

    .card{
        height: 170px;
        width: 170px;
    }
}
/*******/
@media screen and (max-width: 425px) {
    .banner{
        flex-direction: column;
    }
    .home-btn{
        bottom: 13%!important;
    }
    nav{
        font-size: 35px;
        padding: 25px 0px;
        letter-spacing: 13px;
    }
    .projects{
        display: block;
        margin: 0;
    }
    h1{
        text-align: center;
    }
    .skills{
        display: block;
        margin: 0;
    }
    .skill{
        margin-bottom: 25px;
    }
    
    p{
        width: 70%;
    }
    .social{
        width: 20px;
        height: 20px;
        margin: 0px 10px;
    }
}
/*******/
@media screen and (max-width: 375px) {
    img.language {
        width: 80px;
        margin: 20px;
    }
    article.language-container{
        height: 230px;
        width: 230px;
    }
    nav{
        font-size: 35px;
        padding: 25px 0px;
        letter-spacing: 10px;
    }

}



.css-selector {
    background: linear-gradient( #a600ff, #3700ff, #020553, #0095ff);
    background-size: 100% 100%;
    -webkit-animation: AnimationName 0.5s linear infinite;
    -moz-animation: AnimationName 0.5s linear infinite;
    animation: AnimationName 0.5s linear infinite;
}

@-webkit-keyframes AnimationName {
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
}
@-moz-keyframes AnimationName {
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
}
@keyframes AnimationName {
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
}

section.css-selector{
    z-index: -2;
    border: 1px solid rgb(183, 183, 183);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px black;
    width: 250px;
    height: 250px;
}
.loader-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
#page {
    opacity: 0;
    transition: opacity .5s;
  }
  #page.ready {
    opacity: 1;
  }
article.loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 0;
    width: 150px;
    height: 150px;
    background: rgb(0, 0, 20);
    border-radius: 100%;
    border: 1px solid rgb(45, 45, 45);
    box-shadow: 0px 0px 10px black;
    overflow: hidden;
    -webkit-animation: AnimationName 0.5s reverse linear infinite;
    -moz-animation: AnimationName 0.5s reverse linear infinite;
    animation: AnimationName 0.5s  reverse linear infinite;
}

span.span{
    border-radius: 100%;
    background: linear-gradient( #a600ff, #3700ff, #020553, #0095ff);
    z-index: -1;
    width: 105%;
    height: 105%;
    filter: blur(15px);
}